ajax/documentos/documento7.dtd

<!ELEMENT raiz (documento*)>
<!ELEMENT documento (id_documento, fase, descripcion, estatus, fecha_plan_inicio, fecha_plan_fin, puntos, cliente)>
<!ELEMENT id_documento (#PCDATA)>
<!ELEMENT fase (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT responsable (#PCDATA)>
<!ELEMENT estatus (#PCDATA)>
<!ELEMENT fecha_plan_inicio (#PCDATA)>
<!ELEMENT fecha_plan_fin (#PCDATA)>
<!ELEMENT puntos (#PCDATA)>
<!ELEMENT cliente (#PCDATA)>